<!--footer Section-->
<section class="footer">
    <div class="footer-box">
        <h3>Coffee Shop</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis velit accusantium ab distinctio
            natus optio libero placeat nemo adipisci. Doloremque alias aut vel soluta. Accusamus labore
            aspernatur quaerat fugit consectetur!</p>

        <div class="social">
            <a href="#"><i class='bx bxl-facebook-circle'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-tiktok'></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h3>Support</h3>
        <li><a href="#">Products</a></li>
        <li><a href="#">Help And Support</a></li>
        <li><a href="#">Return Policy</a></li>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Products</a></li>
    </div>

    <div class="footer-box">
        <h3>View Guides</h3>
        <li><a href="#">Features</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog Post</a></li>
        <li><a href="#">Our Branches</a></li>
    </div>

    <div class="footer-box">
        <h3>Contact</h3>
        <div class="contact">
            <span><i class='bx bx-map'></i>shop 1/330 High Street, Hutt Central, Lower Hutt 5010</span>
            <span><i class='bx bx-phone-call'></i>+64 20416 87810</span>
            <span><i class='bx bxs-envelope'></i>coffee@shop.com</span>
        </div>
    </div>
</section>