<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Coffee Shop Website</title>
    <link rel="stylesheet" href="/public/css/style.css"> <!-- Ensure this path is correct -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <!-- Your HTML content -->
    <%- include('partials/navbar.ejs') %>


        <!--About-->
        <section class="about" id="about">
            <div class="about-img">
                <img src="/public/img/about.jpg" alt="">
            </div>
            <div class="about-text">
                <h2>Our History</h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, eligendi quia? Eaque ad mollitia
                    veritatis ratione! Provident alias, dolores mollitia voluptatum vitae est eius delectus omnis, odit,
                    veniam corporis exercitationem.</p>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia, aspernatur facere facilis eos
                    quas minima adipisci eum qui dolore itaque nostrum reiciendis voluptatibus provident nemo dolorum
                    quo ipsa sapiente.</p>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repellendus mollitia incidunt
                    doloribus asperiores cum fugit quam voluptates libero eaque dolore beatae sapiente, quidem tenetur
                    soluta eum architecto nobis aliquam.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </section>


        <script src="/public/js/script.js"></script> <!-- If you have a script file -->
</body>

</html>


<%- include('partials/footer.ejs') %>
    <script src="/js/script.js"></script> <!-- If you have a script file -->
    </body>

    </html>