<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Coffee Shop Website</title>
    <link rel="stylesheet" href="/public/css/style.css"> <!-- Ensure this path is correct -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <!-- Your HTML content -->
    <%- include('partials/navbar.ejs') %>
        <!--Customers-->
        <section class="customers" id="customers">
            <div class="heading">
                <h2>Our Customer's</h2>
            </div>
            <!--Container-->
            <div class="customers-container">

                <div class="box">
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugiat iusto blanditiis cumque
                        labore adipisci vero repellendus vitae beatae, nostrum, itaque debitis maxime, quas a
                        praesentium. Alias culpa non ullam!</p>
                    <h2>Duleeka Munasinghe</h2>
                    <img src="/public/img/rev1.jpg" alt="">
                </div>

                <div class="box">
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugiat iusto blanditiis cumque
                        labore adipisci vero repellendus vitae beatae, nostrum, itaque debitis maxime, quas a
                        praesentium. Alias culpa non ullam!</p>
                    <h2>Panduka Athauda</h2>
                    <img src="/public/img/rev2.jpg" alt="">
                </div>

                <div class="box">
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugiat iusto blanditiis cumque
                        labore adipisci vero repellendus vitae beatae, nostrum, itaque debitis maxime, quas a
                        praesentium. Alias culpa non ullam!</p>
                    <h2>Hiroshika Nadeeshani</h2>
                    <img src="/public/img/rev3.jpg" alt="">
                </div>
            </div>
        </section>


        <%- include('partials/footer.ejs') %>
            <script src="/public/js/script.js"></script> <!-- If you have a script file -->
</body>

</html>