<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Coffee Shop Website</title>
    <link rel="stylesheet" href="/public/css/style.css"> <!-- Ensure this path is correct -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>



    <!-- Your HTML content -->
    <%- include('partials/navbar.ejs') %>



        <!--Products-->
        <Section class="products" id="products">
            <div class="heading">
                <h2>Our Popular Products</h2>
            </div>

            <!--container-->
            <div class="product-container">

                <!-- <div class="box">
                    <img src="/public/img/p1.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a data-product-id='1' data-product-name="Americano Pure" id="addToCart"> Add To Cart</a>
                    </div>
                </div>

                <div class="box">
                    <img src="/public/img/p2.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a href="#"> Add To Cart</a>
                    </div>
                </div>

                <div class="box">
                    <img src="/public/img/p3.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a href="#"> Add To Cart</a>
                    </div>
                </div>

                <div class="box">
                    <img src="/public/img/p4.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a href="#"> Add To Cart</a>
                    </div>
                </div>

                <div class="box">
                    <img src="/public/img/p5.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a href="#"> Add To Cart</a>
                    </div>
                </div>

                <div class="box">
                    <img src="/public/img/p6.png" alt="">
                    <h3>Americano Pure</h3>
                    <div class="content">
                        <span>$41.99</span>
                        <a href="#"> Add To Cart</a>
                    </div>
                </div> -->
            </div>

            <!--shopping cart-->
            <div class="cartTab">
                <h1>Shopping Cart</h1>
                <div class="listCart">
                    <!-- <div class="item">
                        <div class="image">
                            <img src="/public/img/p1.png" alt="">
                        </div>

                        <div class="name">NAME</div>
                        <div class="totalPrice">$200</div>
                        <div class="quantity">
                             <span class="minus"><</span>
                             <span>1</span>
                            <span class="plus">></span>
                        </div>
                    </div> -->


                </div>

                <div class="btn">
                    <button class="close">CLOSE</button>
                    <button class="checkout-btn">CHECKOUT</button>
                </div>
            </div>

        </Section>

</body>
<!--footer Section-->
<%- include('partials/footer.ejs') %>
    <script src="/public/js/script.js"></script> <!-- If you have a script file -->
    </body>

</html>